# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Django
*.log
*.sqlite3
db.sqlite3

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Static and media
staticfiles/
media/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db